/*Browser Window size: 1311 x 601*/

* {
  box-sizing: border-box;
}

/*sidebar starts*/

aside {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #fffca8;
  border-style: none dashed none none;
  border-width: 1px;
}

ul>li {
  list-style-type: none;
}

li:first-child {
  margin-top: 10px;
}

li+li {
  margin-top: 20px;
}

a {
  color: rgb(34, 34, 34);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*sidebar ends*/

/*character selection starts*/

.characters-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  height: 200px;
  width: 100%;
  position: relative;
}

.player-sizes {
  width: 150px;
  height: 150px;
  margin-left: 20px;
}

.player-highlight:hover, .player-highlight:active {
  background-color: red;
  border-radius: 10px;
  cursor: crosshair;
}

/*character selection ends*/

/*battle arena starts*/

.battle-arena-container {
  display: block;
  margin-top: 50px;
  height: 500px;
}

.battle-arena {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40%;
}

/*battle arena ends*/

.score-board-container {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50px;
  background-color: #afafaf;
}
