/*Browser Window size: 1311 x 601*/

* {
  box-sizing: border-box;
}

body {
  background: lightblue;
}

.title {
  font-size: 32px;
  margin-top: 10px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: lightblue;
}
/*sidebar starts*/
aside {
  flex-basis: 25%;

  background: tomato;
}

ul>li {
  list-style-type: none;
}

li:first-child {
  margin-top: 10px;
}

li+li {
  margin-top: 20px;
}
li {
  margin: 10px
}

a {
  color: rgb(34, 34, 34);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* sidebar end */

.title-battle-arena-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 75%;
}
.characters-container {
  display: flex;
  justify-content: center;
  margin: 40px;
}
.character-adjustments {
  height: 150px;
  margin: 0px 10px;
}
.battle-arena-container {
  display: flex;
  justify-content: center;
}
.character-highlights:hover {
  background: red;
  border-radius: 5px;
}
.platform {
  display: flex;
  height: 100px;
  background: yellow;
}
.start-match-btn {
  margin: auto;
  height: 50px;
}

footer {
  display: flex;
  height: 150px;
  background: red;
}
.player-scoreboard {
  display: flex;
  flex-direction: column;
  width: 50%;
  background: orange;
}
.computer-scoreboard {
  display: flex;
  flex-direction: column;
  width: 50%;
  background: pink;
}
.score {
  margin: auto;
  font-size: 100px;
  font-weight: bold;
}
