/*Browser Window size: 1311 x 601*/

* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: grey;
}
h1 {
  font-size: 32px;

}

.grid {
  display: grid;
  grid-template-columns: 200px 3fr;
  grid-template-rows: 100px 3fr 1fr;
  height: 100%;
  padding-top: 10px
}
/*sidebar starts*/

aside {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  background-color: #fffca8;
  border-style: none dashed none none;
  border-width: 1px;
}

ul>li {
  list-style-type: none;
}

li:first-child {
  margin-top: 10px;
}

li+li {
  margin-top: 20px;
}
li {
  margin: 10px
}

a {
  color: rgb(34, 34, 34);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* sidebar end */

main {
  display: grid;
  grid-template-rows: 1fr 1fr .5fr;
  justify-content: center;
  grid-gap: 2em;
}
/* nested in main starts*/
.characters-container {
  display: flex;
  justify-content: center;
  grid-row: 1 / 2;
  margin-top: 10px;
}

.battle-arena {
  display: flex;
  justify-content: center;
  grid-row: 2 / 3;
}
#vs-img {
  height: 100px;
  width: 150px;
  align-self: center;
}
.buttons-container {
  display: flex;
  justify-content: center;
  grid-row: 3 / 4;
}
/* nested in main ends */

.player-sizes {
  width: 150px;
  height: 150px;
  margin-left: 20px;
}

.player-highlight:hover, .player-highlight:active {
  background-color: red;
  border-radius: 10px;
  cursor: crosshair;
}



footer.score-board-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50px;
  background-color: #afafaf;
}
.player-score-container {
  height: 100%;
  width: 50%;
  background: lightblue;
}
.computer-score-container {
  height: 100%;
  width: 50%;
  background: orange;
}
